<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button> -->
        <a class="navbar-brand"  >Webgram</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">   
          <li><a href="#">Accueil</a></li>
          <li routerLinkActive="active" ><a routerLink="main"  class="navbar-brand">Service</a></li>
          <li routerLinkActive="active" ><a routerLink="employee"  class="navbar-brand">Demande</a></li>
          <li routerLinkActive="active" ><a routerLink="admin"  class="navbar-brand">Contact</a></li>
        </ul>
        <a class="nav navbar-nav navbar-right"><span class="glyphicon glyphicon-earphone"></span> +221 77 334 42 54</a>
  
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a routerLink="login"  class="navbar-brand"><span class="glyphicon glyphicon-user"></span>S’inscrire</a></li>
          <li routerLinkActive="active" ><a routerLink="log"  ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  