//css
#carousel
{
   background-color: rgb(255, 255, 255);
    padding-left: 250px;
    vertical-align: center;
    height: 300px;
}
div#slider { 
   width: 1000px; max-width: 1000px; height: 850px; text-align: right; overflow: hidden; }
div#slider figure {
    position: relative; 
    width: 700%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: right;
   //background-color: rgb(184, 176, 176);
   // margin: 30px;
  }
  div#slider figure img { width: 10%; height: auto; float: left; }
 div#slider { width: 80%; max-width: 1000px; overflow: hidden }
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }
  
  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 9s slidy infinite;
  }