<div id="carousel" class="col-md-15">
    <div id="slider"  class="col-md-15">
        <figure>
        <p><img src="/../assets/SET1/fmcui.jpg" alt="feu d’artifice à Austin"><br>
          <img src="../assets/SET/G1.jpg" alt="le mausolée du taj-mahal"><br>
        <img src="../assets/SET1/meer.jpg" alt="coucher de soleil à Ibiza"><br>
        <img src="../assets/SET1/meer.jpg" alt="coucher de soleil sur un temple à Angkhor"><br>
        <img src="/../assets/SET1/fmcui.jpg" alt="feu d’artifice à Austin"></p>
        </figure>
    </div>
</div>