body {
    /*   background-image:  url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
      background-image: url('/../assets/images/pom.jpeg');*/

      background: url('/../assets/images/na.jpg') no-repeat center center;
      background-size: cover;
    
    
      height: 110vh;
      width:100%;
    }

.container {
    padding: 25px;
    position: fixed;
    left: 50%;
    margin-left: -650px;
    margin-top: 10%;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
