<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-4">
    <p>Detail Client<a  (click)="visibiliteDetail()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a></p>
    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-8 col-sm-3 col-md-3"  *ngFor="let client of listeClient">
<!--                 <div class="image-flip" ontouchstart="this.classList.toggle('hover');" >-->
                <div>
                   <div class="mainflip" >
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{client.prenom}}</h4>
                                    <p class="card-text">TelephoneMobile :{{client.telephoneMobile}}</p>
                                </div>
                                <div  *ngIf="showdetail" class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">{{client.adresse}}</h4>
                                            <p class="card-text">{{client.sexe}}</p>
                                            <p class="card-text">{{client.telephoneFixe}}</p>
                                            <p class="card-text">{{client.email}}</p>
                                            <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                            <a (click)='deleteClient(client)' target="_blank">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                                <a (click)='editeClient(client)' target="_blank">
                                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                                </a>
                                                        </li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
         
           
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

<!-- demand edite -->
<div class="tab-content">
        <div clase="col-sm-8" *ngIf="showdetail">
          <form (ngSubmit)="validerModification(f)" #f="ngForm">
             <!-- for Name -->  
             <div class="form-group , col-lg-5">
                <label for="idClient"></label>
                <input  name="idClient" class="form-control" id="idClient" [value]="clients.idClient" [(ngModel)]="clients.idClient" disabled="disabled">
              </div><br/><br/><br/><br/>
  
                <!-- for age -->            
            <div class="form-group , col-lg-5">
                <label for="prenom">Prenom</label>
                <input  name="prenom" class="form-control" id="prenom" [value]="clients.prenom" [(ngModel)]="clients.prenom">
              </div>
              <br/><br/><br/><br/>
                    <!-- for Name -->            
                    <div class="form-group, col-lg-5">
                    <label for="nom">Nom</label>
                    <input name="nom" class="form-control" id="nom" [value]="clients.nom" [(ngModel)]="clients.nom">
               </div><br/><br/><br/><br/> 
           <button type="submit" class="btn btn-primary" >Modifier</button> <br/><br/><br/>
          </form>
        </div>
        </div>
  