<div class="panel panel-primary">
  <div class="panel-heading"><span class="glyphicon glyphicon-euro
    "> Liste Des Demandes</span></div>
<table class="table table-striped">
  <thead class="thead-dark">
  <th>idDemande</th>
  <th>Date</th>
  <th>Service</th>
  <th>Salaire Propose</th>
  <th>Salaire Retenue</th>
  <th>active</th>
  <th>Action</th>
</thead>
<tbody >
  <tr *ngFor="let demande of listeDemande " class="table-info">
    <td class="table-primary"><span class="glyphicon glyphicon-user
      ">{{demande.date}}</span></td>
    <td>{{demande.services}}</td>
    <td>{{demande.salairePropose}}</td>
    <td>{{demande.salaireRetenue}}</td>
    <td><button type="submit" class="btn btn-danger" (click)='deleteDemande(demande)' ><span class="glyphicon glyphicon-trash"></span></button></td>
    <td><button type="submit" class="btn btn-primary" (click)='editeDemande(demande)'><span class="glyphicon glyphicon-pencil"></span></button></td>
  </tr>
</tbody>
</table>
</div>

<div>
    <button type="submit" class="btn btn-primary" (click)='editeDemande()'><span class="glyphicon glyphicon-pencil"></span></button>

  <!-- demand edite -->
  <div class="tab-content">
      <div clase="col-sm-8" *ngIf="showdedite">
        <form (ngSubmit)="validerModification(f)" #f="ngForm">
           <!-- for Name -->  
                     
              <!-- for age -->            
          <div class="form-group , col-lg-5">
              <label for="salairePropose">salairePropose</label>
              <input  name="salairePropose" class="form-control" id="age" [value]="maDemande.salairePropose" [(ngModel)]="maDemande.salairePropose">
            </div>
            <br/><br/><br/><br/>
                  <!-- for Name -->            
                  <div class="form-group, col-lg-5">
                  <label for="salaireRetenue">salaireRetenue</label>
                  <input name="salaireRetenue" class="form-control" id="name" [value]="maDemande.salaireRetenue" [(ngModel)]="maDemande.salaireRetenue">
             </div><br/><br/><br/><br/> 
         <button type="submit" class="btn btn-primary" >Modifier</button> <br/><br/><br/>
        </form>
      </div>
      </div>
