.direction
{
   float: right;
   margin-top: 10%;
   border: none;
   border-radius: 1.5rem;
   padding: 2%;
   background: #0062cc;
   color: #ffff;
   font-weight: 600;
   width: 70%;
   cursor: pointer;
}
.recherche
{
    height: 30px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}
#inputDate
{
    height: 30px;
    font-weight: bold;
    width: 130px;
}
.rech
{
    margin-right: 5px;
    margin-bottom: 5px;
}
#buttonRecherche
{
    font-weight: bold;
    margin-top:5px;
}
