
   <nav id="nav1"class="navbar navbar-primary">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
        </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active"><span class=" glyphicon glyphicon-home"></span>Accueil</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a type="button" class="modal-toggle" data-toggle="modal" data-target="Logout"><span class=" glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
            </div>
      </div>
    </nav>
  <header id="header">
        <div class="container">
             <div class="row">
              <div  class="col-md-10">
                <h1><span aria-hidden="true" class="glyphicon glyphicon-cog"></span>Admin<small>management</small></h1>
              </div>
              <div class="col-md-2">
                <div class="header">
                  <button><a type="button" class="modal-toggle" data-toggle="modal" data-target="Logout"><span class=" glyphicon glyphicon-off"></span>Logout</a></button>
                   </div>
                  <!-- Single button -->

              </div>
            </div>
              
          </div>
     </header>
    <!--  <section id="breadcrumb">
       <div class="container">
         <ol class="breadcrumb">
           <li class="active">Dashboard </li>
         </ol>

       </div>

     </section> -->
     <section id="main">
       <div class="container">
         <div class="row">
           <!-- partie aside -->
           <div class="col-md-3">
              <div class="list-group">
                  <a  class="list-group-item active"><span class=" glyphicon glyphicon-cog"></span> Admin <span class="badge" >12</span></a>
                  <a  (click)="vEmploye()" class="list-group-item"><span class=" glyphicon glyphicon-list-alt"></span> Employes<span class="badge" >{{employeNombre}}</span></a>
                  <a  (click)="vClient()"class="list-group-item"><span class=" glyphicon glyphicon-list-alt"></span> Clients <span class="badge" >{{clientNombre}}</span></a>
                  <a  (click)="vemessage()" class="list-group-item"><span class=" glyphicon glyphicon-envelope"></span> Messages <span class="badge" >{{messageNombre}}</span></a>
                  <a  (click)="vreference()"class="list-group-item"><span class=" glyphicon glyphicon-wrench"></span> References <span class="badge" >7</span></a>

                </div>
          <!-- activation Employes -->
                <div class="well" *ngIf="afficheEmployes">

                    <div class="list-group">
                    <a   class="list-group-item active" ><span class=" glyphicon glyphicon-cog"></span>Gestion Employes</a>
                    <a (click)="vEmployenew()" class="list-group-item"><span class=" glyphicon glyphicon-plus-sign"></span> Employes</a>
                    <a (click)="vEmployeListe()"class="list-group-item"><span class=" glyphicon glyphicon-list-alt"></span> Listes Employes</a>
                    <a (click)="vEmployeRecherche()"class="list-group-item"><span class=" glyphicon glyphicon-search"></span> Employes</a>
  
                  </div>
                </div><!-- fin activation Employes -->

          <!-- activation Clients -->
                <div class="well" *ngIf="afficheClients">

                    <div class="list-group" >
                    <a  class="list-group-item active"><span class=" glyphicon glyphicon-cog"></span>Gestion Clients</a>
                    <a (click)="vClientsNew()" class="list-group-item"><span class=" glyphicon glyphicon-plus-sign"></span> Clients</a>
                    <a  (click)="vClientListe()"class="list-group-item"><span class=" glyphicon glyphicon-list-alt"></span> Listes Clients</a>
                    <a  (click)="vClientsRecherche()" class="list-group-item"><span class=" glyphicon glyphicon-search"></span> Clients</a>
  
                  </div>
                </div><!-- fin activation Clients -->

          <!-- activation reference -->
                <div class="well" *ngIf="afficheReferences">

                    <div class="list-group">
                    <a  class="list-group-item active"><span class=" glyphicon glyphicon-cog"></span> References</a>
                    <a (click)="vpaysref()" class="list-group-item"><span class=" glyphicon glyphicon-globe"></span> Pays</a>
                    <a (click)="vethnieref()" class="list-group-item"><span class=" glyphicon glyphicon-inbox"></span> Ethnies</a>
                    <a (click)="vlangueref()" class="list-group-item"><span class=" glyphicon glyphicon-inbox"></span> Langues</a>
                    <a (click)="vlocaliteref()" class="list-group-item"><span class=" glyphicon glyphicon-inbox"></span> Localites</a>
                    <a (click)="vcompetenceref()" class="list-group-item"><span class=" glyphicon glyphicon-inbox"></span> Competences</a>
                    <a (click)="vniveauEtuderef()" class="list-group-item"><span class=" glyphicon glyphicon-education"></span> Niveau Etudes</a>
                    <a (click)="vtypeIdentificationref()" class="list-group-item"><span class=" glyphicon glyphicon-inbox"></span> Type Identification</a>
                  </div>
                </div><!-- fin activation Clients -->

           </div>

           <!-- partie activite changement  -->
           <div class="col-md-9" *ngIf="accueilAdmin">
             <!-- statistique -->
              <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Sen Menagere</div> 
                    <div class="panel-body panel-hover">
                      <div class="col-md-3">
                        <div class="well dash-box">
                          <h4><span class=" glyphicon glyphicon-user" aria-hidden="true"></span> {{employeNombre}}</h4>
                          <h6>Employes</h6>
                        </div>

                      </div><!-- md-3 -->
                      <div class="col-md-3">
                          <div class="well dash-box">
                            <h4><span class=" glyphicon glyphicon-user" aria-hidden="true"></span> {{clientNombre}}</h4>
                            <h6>Clients</h6>

                          </div>
  
                        </div><!-- md-3 -->
                        <div class="col-md-3">
                            <div class="well dash-box">
                              <h4><span class=" glyphicon glyphicon-envelope" aria-hidden="true"></span> {{messageNombre}}</h4>
                              <h6>Messages</h6>
                            </div>
    
                          </div><!-- md-3 -->
                          <div class="col-md-3">
                              <div class="well dash-box">
                                <h4><span class=" glyphicon glyphicon-book" aria-hidden="true"></span> {{demandeNombre}} </h4>
                                <h6>Demandes</h6>
                              </div>
                          </div><!-- md-3 -->
                    </div>
             </div>
                  <!-- fin statistique -->
                 
    </div><!-- md-9  fin partie Activite-->  

 <!-- partie activite Employer  -->
           <div class="col-md-9" *ngIf="vEmploye">
               <!-- statistique -->
               <div class="panel panel-primary" *ngIf="EmployeStatistique">
                  <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Sen Menagere</div> 
                      <div class="panel-body panel-hover">
                        <div class="col-md-3">
                          <div class="well dash-box">
                            <h4><span class=" glyphicon glyphicon-user" aria-hidden="true"></span> {{employeNombre}}</h4>
                            <h6>Employes</h6>
                          </div>
  
                </div><!-- md-3 -->
          </div>
    </div>
             <!-- les activite Emplyes -->             
         <app-mes-emplyes *ngIf="EmployesListes"></app-mes-emplyes>
      <app-inscription *ngIf="EmployesNew"></app-inscription>
 <app-recherche-emp-adm *ngIf="EmployesRecherche"></app-recherche-emp-adm>                  
</div><!-- md-9  fin partie employer-->  

<!-- Client -->

 <!-- partie activite client  -->
 <div class="col-md-9" *ngIf="vClient">
 
  <!-- les activite Emplyes -->             
<app-mes-clients *ngIf="ClientsListes"></app-mes-clients>
<app-clientnew-adm *ngIf="ClientsNew"></app-clientnew-adm>
<app-recherche-cli-adm *ngIf="ClientsRecherche"></app-recherche-cli-adm>              
</div><!-- md-9  fin partie Client-->  

<!-- partie activite reference  -->
 <div class="col-md-9" *ngIf="vreference">
    <!-- statistique -->
    <div class="panel panel-primary" *ngIf="referenceStatistique">
       <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Sen Menagere</div> 
           <div class="panel-body panel-hover">
             <div class="col-md-3">
               <div class="well dash-box">
                 <h4><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{paysNombre}}</h4>
                 <h6>Pays</h6>
               </div>
           </div><!-- md-3 -->
           <div class="col-md-3">
              <div class="well dash-box">
                <h4><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{compNombre}}</h4>
                <h6>Competences</h6>
              </div>
          </div><!-- md-3 -->
          <div class="col-md-3">
              <div class="well dash-box">
                <h4><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{localiteNombre}}</h4>
                <h6>Localite</h6>
              </div>
          </div><!-- md-3 -->
          <div class="col-md-3">
              <div class="well dash-box">
                <h4><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ethnieNombre}}</h4>
                <h6>Ethnies</h6>
              </div>
          </div><!-- md-3 -->
      </div>
</div>
  <!-- les activite Emplyes -->             
<app-ref-pays *ngIf="Paysref"></app-ref-pays>
<app-ref-competence *ngIf="competenceref"></app-ref-competence>
<app-ref-ethnie *ngIf="Ethnieref"></app-ref-ethnie>
<app-ref-niveau-etude *ngIf="niveauEtuderef"></app-ref-niveau-etude>
<app-ref-type-iden *ngIf="typeIdentificationref"></app-ref-type-iden>
<app-reflocalite *ngIf="localiteref"></app-reflocalite>
<!-- pays -->
</div><!-- md-9  fin partie Client-->  
             </div><!-- rowwwwww-->
       </div>
</section><!-- fin section-->


