.navbar-nav{
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-nav > li > a, .navbar-band{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 15px;

}
.navbar-default .navbar-toggle{
  border-color: #c0392b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}
.sect{
  margin-top: 40px;
}
#header{
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#nav1
{
  margin-bottom: 0px;
  //background: #2b4bfd;


}
.breadcrumb{
  background:#cccccc;
  color: #333333;
}
.breadcrumb a {
  color: #333333;
}
.dash-box{
  text-align: center;
}
///////////@at-root






