<div class="row">
    <div class="col-md-12" style="background-color: aqua;">
      <div class="col-md-8" style="background-color: brown;">
        <div class="col-md-4" style="background-color: lightcoral;">
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
        </div>
        <div class="col-md-8" style="background-color :lightslategrey;">
          <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
          <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
          <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
          <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
          <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
          <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
        </div>
      </div>
      <div class="col-md-4" style="background-color: chartreuse">
         <div class="col-md-12" style="background-color: darkgoldenrod;">
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
        </div>
        <div class="col-md-12" style="background-color: indigo;">
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>
            <p>adfvbgcnhcnhnfgbhnmhvm,jbnghmj,mjmnmg,bnvmgj,jhv,jhbfgnhmghmghmgm</p>

        </div>
      </div>
    </div>
</div>