<div class="row">
    <div class="col-md-12 demande" *ngFor="let demande of listeDemande" >
      <div class="col-md-8">
        <div class="col-md-12 employe" *ngFor="let employe of demande.employees">
          <div class="col-md-6">
            <span class="pull-right pagado col-sm-12">Prenom :{{employe.prenom}}</span>
            <span class="pull-right pagado col-sm-12">Nom :{{employe.nom}}</span>
            <span class="pull-right pagado col-sm-12">Adresse :{{employe.adresse}}</span>
          </div>
          <div class="col-md-6" >
            <span class="pull-right pagado col-sm-12">Religion :{{employe.religion}}</span>
            <span class="pull-right pagado col-sm-12">Situation Matrimoniale :{{employe.situationMatrimoniale}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
         <div class="col-md-12">
            <ul *ngFor="let competence of demande.competences ">
              <li>{{competence.description}}</li>
            </ul>
        </div>
        <div class="col-md-12">
            <span class="pull-right pagado col-sm-12">Salaire Proposé :{{demande.salairePropose}} FCFA</span>
            <span class="pull-right pagado col-sm-12">Salaire Retenu :{{demande.salaireRetenue}} FCFA</span>
            <span class="pull-right pagado col-sm-12">Date :{{demande.date}} </span>
            <textarea class="pull-right pagado col-sm-12" rows="7">{{demande.services}}</textarea>
        </div>
        <div class="col-md-12">
          <button id="annuler" (click)="annulerDemande(demande)" style="margin-left: 70px; margin-top: 20px;">Annuler</button>
        </div>
      </div>
    </div>
</div>
<div class="col-md-12">
  <div class="col-md-8">
    <div class="col-md-6" >
      <button *ngIf="vprecedent" class="direction"style="font-weight: bold" (click)="precedent()"><span class="glyphicon glyphicon-menu-left"></span>Précédent</button>
    </div>
    <div class="col-md-6" >
        <button *ngIf="vsuivant" class="direction" style="font-weight: bold"  (click)="suivant()">Suivant<span class="glyphicon glyphicon-menu-right"></span></button>
    </div>
  </div >
  <div class="col-md-4">
  </div> 
</div>