<div class="row">
    <div class="col-md-12" style="background-color: aqua;">
      <div class="col-md-8" style="background-color: brown;">
        <div class="col-md-4" style="background-color: lightcoral;">
            <img  width="150px" hieght="200px" src="../../assets/SET1/pp.jpg">
        </div>
        <div class="col-md-8" style="background-color :lightslategrey;">
            <span class="pull-right pagado col-sm-12">Prenom :</span>
            <span class="pull-right pagado col-sm-12">Nom :</span>
            <span class="pull-right pagado col-sm-12">Adresse :</span>
            <span class="pull-right pagado col-sm-12">Telephone Mobile :</span>
            <span class="pull-right pagado col-sm-12">Religion :</span>
            <span class="pull-right pagado col-sm-12">Situation Matrimoniale</span>
        </div>
      </div>
      <div class="col-md-4" style="background-color: chartreuse">
         <div class="col-md-12" style="background-color: darkgoldenrod;">
            <ul>
              <li>Competence 1:</li>
            </ul>
        </div>
        <div class="col-md-12" style="background-color: indigo;">
            <span class="pull-right pagado col-sm-12">Salaire Proposé :1000000 FCFA</span>
            <span class="pull-right pagado col-sm-12">Salaire Retenu :1000000 FCFA</span>
            <textarea class="pull-right pagado col-sm-12" rows="7">Service demandé</textarea>
        </div>
        <div class="col-md-12" style="background-color:silver ">
          <button (click)="annulerDemande()" style="margin-left: 70px; margin-top: 20px;">Annuler</button>
        </div>
      </div>
    </div>
</div>