<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h3 class="my-heading "><span class="bg-main">SenMenagère</span></h3>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars mfa-white"></span>
        </button>

        <div id="main">
            <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a>
        </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
                <li class="nav-link" routerLinkActive="active"><a  id="bg-main" [routerLink]="['/']" routerLinkActive="router-link-active"   class="navbar-brand">Accueil</a>      

                <li class="nav-link" routerLinkActive="active"><a  id="bg-main" [routerLink]="['/EspaceClient']" routerLinkActive="router-link-active"   class="navbar-brand"><span class=" glyphicon glyphicon-user"></span>Espace Client</a> 
                    <li class="nav-link" routerLinkActive="active"><a  id="bg-main" [routerLink]="['/serviceAdmin']" routerLinkActive="router-link-active"   class="navbar-brand"><span class="glyphicon glyphicon-user"></span>Admin</a>      
                        <li class="nav-link" routerLinkActive="active"><a  id="bg-main" [routerLink]="['/DemandeEmployee']" routerLinkActive="router-link-active"   class="navbar-brand"><span class="glyphicon glyphicon-user"></span>S’inscrire</a> </li> 
                        <li class="nav-link" routerLinkActive="active"><a  id="bg-main" [routerLink]="['/test']" routerLinkActive="router-link-active"   class="navbar-brand"><span class="glyphicon glyphicon-log-in"></span>Déconnexion</a>
            <ul class="navbar-nav ml-auto">



            </ul>
        </div>

    </div>
</nav>