<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h3 class="my-heading ">Web<span class="bg-main">Gram</span></h3>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars mfa-white"></span>
        </button>

        <div id="main">
            <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a>
        </div>

     
       
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    
         
      
    </div>


        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline my-2 my-lg-0 col-md-6">
                <input class="myform-control mr-sm-2" type="search" placeholder="find peoples, instruments, bands and more..." aria-label="Search">
                <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-link">
                    <a class="btn btn-primary btn-block btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
                </li>
                <li class="nav-link">
                    <a class="btn btn-primary btn-block btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
                </li>
                <li class="nav-link">
                    <a class="btn btn-primary btn-block btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
                </li>

            </ul>
        </div>

    </div>
</nav>