<app-header></app-header>

<div class="container" id="container">
  <form>
            <!-- information personnelle -->

    <div class="panel panel-primary , col-lg-4">
        <!-- Default panel contents -->
        <div class="panel-heading">Information personnelles</div>
        <div class="panel-body">
        
              <!-- for nom -->            

            <div class="form-group"></div>
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom">

            <!-- for prenom -->            

            <div class="form-group"></div>
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom">

            <!-- for Adresse -->            

            <div class="form-group"></div>
            <label for="adresse">Adresse</label>
            <input type="text" class="form-control" id="adresse">

            <!-- for Date-Naissance -->            

            <div class="form-group"></div>
            <label for="datenaissance">Date-Naissance</label>
            <input type="date" class="form-control" id="datenaissance">

            <!-- for Telephone Mobile --> 
            <div class="form-group"></div>
            <label for="telephonemobile">Telephone Mobile <span class="glyphicon glyphicon-earphone"></span></label>
            <input type="tel" class="form-control" id="telephonemobile">           

      
            <!-- for telphone fixe -->    

            <div class="form-group"></div>
            <label for="telephonefixe">Telephone Fixe  <span class="glyphicon glyphicon-phone-alt"></span></label>
            <input type="tel" class="form-control" id="telephonefixe">

            <!-- for email -->            

            <div class="form-group"></div>
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">

        </div>
    
      </div>
      <div class="panel panel-primary , col-lg-4">
            <!-- information Professionnelle -->
            <div class="panel-heading">Information Professionnelle</div>
          <div class="panel-body">
          
          
  
              <!-- for Nievau Etude -->            
            <div class="form-group"></div>
            <label for="niveau">Niveau d'Etude</label>
            <select id="niveau" class="form-control"  >
                <option value="NEANT">NEANT</option>
                <option value="CFEE">CFEE</option>
                <option value="BFEM">BFEM</option>
                <option value="BAC">BAC</option>
                <option value="LICENCE">LICENCE</option>
                <option value="MASTER">MASTER</option>
                
            </select>
            <br/>
                 <!-- Multiple Radios (inline) -->
             <div class="form-group" >
                 <label class="col-md-3 control-label" for="radios">Religion</label>
                    <div class="col-lg-13"> 
                 <label class="radio-inline ,col-md-3" for="radios-0">
          <input type="radio" name="radios" id="radios-0" value="0" checked="checked">Musulmane</label>
                <label class="radio-inline , col-md-4" for="radios-1">
           <input type="radio" name="radios" id="radios-1" value="1">Chrétienne</label>
    </div>
  </div>     
            
              <!-- for Nievau Etude -->            
              <div class="form-group"></div>
              <label for="situationMatrimoniale">Situation Matrimoniale</label>
              <select id="situationMatrimoniale" class="form-control">
                  <option value="Celibataire">Celibataire</option>
                  <option value="Mariee">Mariee</option>
                  <option value="Divorcee">Divorcee</option>
                  <option value="Veuve">Veuve</option>
                  </select>

                   <!-- for Ethenie -->            
              <div class="form-group"></div>
              <label for="ethenie">Ethenie</label>
              <select id="eth" class="form-control">
                  <option value="Wolof">Wolof</option>
                  <option value="Pheul">Pheul</option>
                  <option value="Serere">Serere</option>
                  <option value="Diola">diola</option>
                  </select>
                
                
  
              <!-- for Date-Naissance -->      
              <!-- Form Name -->
<legend>Form Name</legend>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">Select Multiple</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>
      
  
              <!-- for name -->            
  
              <div class="form-group"></div>
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email"> 
            
          </div>
      
        </div>
    </form>
</div>


<!-- for age -->
