
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="active navbar-brand "> SeneMenegere</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a class="active" [routerLink]="['/']" routerLinkActive="router-link-active" > Acceuil</a></li>
            <li><a [routerLink]="['/contacter']" routerLinkActive="router-link-active" > Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="smothscroll" [routerLink]="['/EspaceClient']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-edit"></span>S'inscrire</a></li>
            <li><a class="smothscroll" [routerLink]="['/login']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
          </ul>
        </div>
      </nav>


