<section class="testimonials" id="gobottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                <div class="big-img">
                    <img src="../assets/images/na.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="inner-section wow fadeInUp">
                    <h3>Demande de soumission<span class="bg-main"> pour le service ménager</span></h3>
                    <br/><br/>
                    <div class="linear-grid">
                        <div class="row">
                            
                            

                           
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>


