    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .container-fluid {
      margin-left:15%;
    }
    span.bg-main {
        color: #008ba3;
    }
    /* header*/

    /* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);


}
////////@at-root
header.masthead {
  position: relative;
 // height: 50vh;
  //margin-top: -300px;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
 // margin-top: 0px;
  padding-bottom: 0px;
}

header.masthead .overlay{
  position:absolute;
 // background-color: brown;
  //height:100%;
 // width:100%;
  top:0;
  left:0;
  opacity:0.8}
  

span.bg-main {
  color: #008ba3;
}

#text1
{
  color: blue;
}
#contacter{
  margin-top: -200px;
  z-index: 1;
 vertical-align: center;
 margin-bottom: 70px;

}
#nav1{
  border-top-width: 0px;
  margin-bottom: 0;

}
#test1{
  margin-left: 280px;

}

    
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #00428a;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #007bff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #0067d5;
    color: #fff;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #ecf5ff;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #74b5fc;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #007bff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0062cc;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
  }
  
  #footer .credits a {
    color: #bfddfe;
  }
  
  #footer .credits a:hover {
    color: #f1f7ff;
  }
  
  
@keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
    margin-top: 5px;
    margin-bottom: 3px;
   // box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
   // background: #fff;
   // box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  #services .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  #services .icon {
    position: absolute;
    left: -10px;
    top: calc(50% - 32px);
  }
  
  #services .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
  }
  
  #services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .box:hover .title a {
    color: #007bff;
  }
  
  #services .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
  }
  
  #why-us {
    padding: 60px 0;
    background: #004a99;
  }
  
  #why-us .section-header h3,
  #why-us .section-header p {
    color: #fff;
  }
  
  #why-us .card {
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
  }
  
  #why-us .card:hover {
    background: #003b7a;
    border-color: #003b7a;
  }
  
  #why-us .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
  }
  
  #why-us .card h5 {
    font-size: 22px;
    font-weight: 600;
  }
  
  #why-us .card p {
    font-size: 15px;
    color: #d8eafe;
  }
  
  #why-us .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
  }
  
  #why-us .card .readmore:hover {
    border-bottom: #fff solid 2px;
  }
  
  #why-us .counters {
    padding-top: 40px;
  }
  
  #why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
  }
  
  #why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
  }


  
  
  