
<div>
    <app-nav1></app-nav1>

</div>

<header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div  class="col-md-12 text-center">
                    <br><br>
                    <h3 id="text1" class="my-heading">Bienvenue sur <span class="bg-main">votre Espace Ménagère</span></h3>
                    <h4 class="myp-slider text-center">Nous vous proposons des Services de qualités</h4>
                    <h4 class="myp text-center">Services Entreprises    |   Service Ménagères    |   Service d'Organisations </h4>
                </div>
                
            </div>
        </div>
    </header>
<app-carousel></app-carousel>
<header id="contacter" class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div  class="col-md-12 text-center">
                    <a id="contacternous" class="btn btn-primary btn-join" [routerLink]="['/contacter']" routerLinkActive="active" ><h4>Contacter Nous<span class="glyphicon glyphicon-chevron-right
                      "></span></h4></a>
                </div>
                <div  class="col-md-12 text-center mt-5">
                        <div class="scroll-down">
                            <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
            </div>
        </div>
    </header>



<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-11  text-left"> 
      <h3 style="margin-left: 30px; ">Nos Services  <span class="bg-main"> professionnelle.</span></h3>
        <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div><img class="card-img-top" src="../assets/SET/G1.jpg" style="height:200px; width: 370px; ">
                </div>
                <h4 class="title"><a href="">Garde d enfants</a></h4>
                <p class="description">Découvrez nos formules flexibles et faites confiance à notre personnel formé selon les techniques hôtelières.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
            <div><img class="card-img-top" src="../assets/SET/L1.jpg" style="height:200px; width: 370px;"></div>
                <h4 class="title"><a href="">Lingere </a></h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
              </div>
            </div>
          </div>
          <!-- 2eme vague -->
          <div class="row">
              <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                      <div><img class="card-img-top" src="../assets/SET/C1.jpg" style="height:200px; width: 370px;"></div>
                     <h4 class="title"><a href="">Cuisiniere</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div><img class="card-img-top" src="../assets/SET1/im2.jpg" style="height:200px; width: 370px;"></div>               
                         <h4 class="title"><a href="">Soutien scolaire</a></h4>
                      <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>
                  </div>
            </div>

            <!-- 3eme vagues -->
            <div class="row">
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div><img class="card-img-top" src="../assets/SET1/RP.jpg" style="height:200px; width: 370px;"></div>
                      <h4 class="title"><a href="">Repassage</a></h4>
                      <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
               </div>
               <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                  <div class="box">
                      <div><img class="card-img-top" src="../assets/SET1/ww.jpeg" style="height:200px; width: 370px;"></div>                
                      <h4 class="title"><a href="">Babysitting</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                  </div>
                </div>  
           </div><!-- 3eme fin -->
        </div><!-- container -->
      </section><!-- #services -->
      
    </div>
  </div>
</div>


<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h4>SenMemagere</h4>
          <p>Votre satisfaction est notre priorité, c’est pourquoi notre service clientèle se fera un plaisir de vous accompagner et de répondre à vos questions par e-mail. Le service client est ouvert de 09h à 17h du lundi au vendredi pour répondre à vos questions et vous accompagner tout au long de votre relation avec votre aide-ménagère.</p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>A propos</h4>
          <ul>
            <li><a >Home</a></li>
            <li><a >About us</a></li>
            <li><a >Services</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact </h4>
          <p>
            A108 Senmenagere agance <br>
            Senegal , Dakar 535022<br>
            ouakam Cite Batrain <br>
            <strong>Phone:</strong> +221 77 334 42 54<br>
            <strong>Email:</strong> info@gmail.com<br>
          </p>

          <div class="social-links">
          
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Votre Agence</h4>
          <p>la première plateforme de mise en relation entre aides-ménagères et particuliers a été mise en place pour simplifier la recherche d'une femme de ménage. En effet, grâce à son site internet, vous pouvez trouver une femme de ménage à domicile en seulement quelques clics ce qui vous évite de perdre du temps à éplucher les petites annonces ou à faire des demandes de devis auprès de plusieurs sociétés de ménage à domicile.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit"  value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Senmenagere</strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
      Designed by <a href="https://webgram.com/">webGram</a>
    </div>
  </div>
</footer><!-- #footer -->
