<div class="col-sm-2 sidenav">
    <ul class="nav nav-pills nav-stacked">
           <li class="nav-item"><a class="nav-link" [routerLink]="['/recherche']" routerLinkActive="active" >Administration
            <span class="sr-only">(current)</span></a></li>
           <li class="nav-item"><a class="nav-link" [routerLink]="['/nouveau']" routerLinkActive="active"  >Nouveu Employee <span class="glyphicon glyphicon-user
            "></span></a></li>
            <!-- 2eme -->
            <li class="nav-item"><a class="nav-link" [routerLink]="['/listeEmp']" routerLinkActive="active" >Liste Employee <span class="glyphicon glyphicon-user
              "></span><span class="glyphicon glyphicon-user
              "></span> </a></li>


               <!-- 3eme -->
            <li class="nav-item"><a class="nav-link" [routerLink]="['/listeClient']" routerLinkActive="active" >Liste Clients <span class="glyphicon glyphicon-user
              "></span><span class="glyphicon glyphicon-user
              "></span> </a></li>
             <!-- 4eme -->
            <li class="nav-item"><a class="nav-link" [routerLink]="['/statistique']">Statististique<span class="glyphicon glyphicon-stats
              "></span></a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/employee/inscription']">inscription<span class="glyphicon glyphicon-stats
                "></span></a></li>
    
    </ul><br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Blog..">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
  