<section class="testimonials  " id="gobottom"  >
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                <div class="big-img">
                    <img src="../assets/images/feme.jpg" class="img-fluid">
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="inner-section wow fadeInUp">
                    <h3> prestation de nettoyage <span class="bg-main"> professionnelle.</span></h3>
                    <br/>
                    <div class="linear-grid">
                        <div class="row">


                            <!--  -->
                            

                        <h4 class="text-justify">Nos équipes prennent en charge la propreté de votre maison ou de votre logement des salles de bain à la cuisine afin que votre seul souci soit de profiter pleinement de votre espace de vie.</h4>
                        <div class="linear-grid">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s" >
                                    <img src="../assets/SET1/43.jpg" class="img-thumbnail">
                                </div>
                                <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img  src="../assets/SET1/babies.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img  src="../assets/SET1/mom.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img  src="../assets/SET1/meer.jpg" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="linear-grid">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s" >
                                        <img src="../assets/SET1/img.jpg" class="img-thumbnail">
                                    </div>
                                    <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                        <img  src="../assets/images/li2.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                        <img  src="../assets/REDIM/R13.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                        <img  src="../assets/REDIM/R9.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

