<section class="testimonials" id="gobottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                <div class="big-img">
                    <img src="../assets/images/na.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="inner-section wow fadeInUp">
                    <h3> prestation de nettoyage <span class="bg-main"> professionnelle.</span></h3>
                    <br/><br/>
                    <div class="linear-grid">
                        <div class="row">


                            <!--  -->
                            

                        <h3 class="text-justify">Nos équipes prennent en charge la propreté de votre maison ou de votre condo des salles de bain à la cuisine afin que votre seul souci soit de profiter pleinement de votre espace de vie.</h3>
                        <div class="linear-grid">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s" >
                                    <img src="https://images.pexels.com/photos/534031/pexels-photo-534031.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-thumbnail">
                                </div>
                                <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://images.pexels.com/photos/258804/pexels-photo-258804.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://images.pexels.com/photos/285598/pexels-photo-285598.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://images.pexels.com/photos/167605/pexels-photo-167605.jpeg?auto=compress&cs=tinysrgb&h=350" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                            

                           
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>


