<!-- LIste Des employes a associer a la Demande 
    +++++++++++++++++++++DEBUT++++++++++++++++++-->
    <div class="container col-md-12 col-sm-12" id="listeEmployes">
        <div class="row col-md-12 col-sm-12">
        <section class="content col-md-12 col-sm-12">
          <div class="table-container panel-body panel panel-default col-md-12 col-sm-12">
          <table class="table table-filter">
            <tbody>
            <tr data-status="pagado" *ngFor="let employe of listeEmployes ;let position=index;">
              <td>
              <div class="ckbox">
                <input type="checkbox" id="inlineCkeckbox{{position}}" >
                  <label for="inlineCkeckbox{{position}}"></label>
              </div>
              </td>
              <td>
              <a href="javascript:;" class="star">
                <i class="glyphicon glyphicon-star"></i>
              </a>
              </td>
              <td>
                      <div class="media">
                <a href="#" class="pull-left">
                 <img src={{getPhotoEmploye(employe.photo)}} class="media-photo">
                </a>
                <div class="media-body">
                  <div class="title">
                    <h4>{{employe.prenom}}  {{employe.nom}}</h4>
                    <div class="row">
                      <div class="col-sm-6" >
                        <h5 class="col-sm-8" *ngIf="employe.observation">Information :</h5>
                        <p class="summary col-sm-8"><textarea *ngIf="employe.observation" id="observation" rows="6" disabled>{{employe.observation}}</textarea></p>
                      </div>
                      <div class="col-sm-6">
                        <span class="pull-right pagado col-sm-12">Adresse :{{employe.adresse}}</span>
                        <span class="pull-right pagado col-sm-12">Situation Matrimoniale :{{employe.situationMatrimoniale}}</span>
                        <span class="pull-right pagado col-sm-12">Date de Naissance :{{employe.dateNaissance}}</span>
                        <span class="pull-right pagado col-sm-12">Religion :{{employe.religion}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid detail" *ngIf="tableauVisibiliteDetail[position]">
                    <div class="row">
                      <div class="col-sm-6">
                        <p *ngIf="employe.pay.nom">Nationnalite :{{employe.pay.nom}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p >Langues parlées :</p>
                        <ul>
                           <li *ngFor="let langue of employe.langues">{{langue.nom}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p *ngIf="employe.ethny.nom">Ethnie :{{employe.ethny.nom}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p>Competences :</p>
                        <ul>
                           <li *ngFor="let competence of employe.competences">{{competence.description}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p *ngIf="employe.niveauetude.niveau">Niveau d'Etude :{{employe.niveauetude.niveau}}</p>
                        <p *ngIf="employe.localite">Ethnie :{{employe.localite.nom}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p>Disponibilite :</p>
                        <ul>
                          <li *ngFor="let disponibilite of employe.disponibilites"> {{disponibilite.moment}}  {{disponibilite.horaire}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             </td>
             <td>
               <button (click)="details(position)"  *ngIf="!tableauVisibiliteDetail[position]">Détails </button>
               <button (click)="reduire(position)"  *ngIf="tableauVisibiliteDetail[position]">Réduire</button>
             </td>
            </tr>
            </tbody>
          </table>
          </div>
        </section>
        <div class="col-md-12">
          <div class="col-md-8">
              <div class="col-md-6" >
                <button *ngIf="vprecedent" class="direction"style="font-weight: bold" (click)="precedent()"><span class="glyphicon glyphicon-menu-left"></span>Précédent</button>
              </div>
              <div class="col-md-6" >
                 <button *ngIf="vsuivant" class="direction" style="font-weight: bold"  (click)="suivant()">Suivant<span class="glyphicon glyphicon-menu-right"></span></button>
              </div>
          </div >
          <div class="col-md-4">
          </div> 
        </div>
       </div>
      </div>
<!--++++++++++++++++++++FIN++++++++++++++++++++++++++
     LIste Des employes a associer a la Demande -->