<div>
    <app-nav1></app-nav1>

</div>

<header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div  class="col-md-12 text-center">
                    <h3 id="text1" class="my-heading">Bienvenue sur <span class="bg-main">votre Espace Managere</span></h3>
                    <h4 class="myp-slider text-center">Nous vous proposons des Services de qualités</h4>
                    <h4 class="myp text-center">Services Entreprises    |   Service Menageres    |   Service d'Organisations </h4>
                </div>
                
            </div>
        </div>
    </header>
<app-carousel></app-carousel>
<header id="contacter" class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div  class="col-md-12 text-center">
                    <a id="contacternous" class="btn btn-primary btn-join" [routerLink]="['/contacter']" routerLinkActive="active" ><h4>Contacter Nous<span class="glyphicon glyphicon-chevron-right
                      "></span></h4></a>
                </div>
                <div  class="col-md-12 text-center mt-5">
                        <div class="scroll-down">
                            <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
            </div>
        </div>
    </header>





<!-- 1eme container -->

<div class="container-fluid bg-3 text-center"  >    
<h3>Faites confiance à l’une de nos équipes dynamiques, professionnelles et pleines d’énergie!
    </h3><br>
<div class="row" id="test1" >
    <!-- 1 -->
  <div class="col-sm-3">
      <div>
            <img src="../assets/SET/C1.jpg" alt="Image" width="280" height="200">
            <br/><br/>

      </div>

        <p style="text-align: justify;">Nous portons une attention particulière à l’amélioration de nos services de nettoyage, dans le cadre d’une démarche active de qualité gratifiée par nos clients d'un taux de satisfaction supérieur à 98 %. Lire notre page.</p>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
        <img src="../assets/pics/household.jpg" alt="Image" width="180" height="180" align="left" style="">
            
        <p style="text-align: justify;">Lorem ipsum dolLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
  <!--  2-->
  <div class="col-sm-3"> 
        <img src="../assets/images/pom.jpeg" alt="Image" width="180" height="140" align="left" style="margin-right:10px;">

    <p style="text-align: justify;" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br/>
    <img src="../assets/pics/nounou.jpg" alt="Image" width="280" height="200">
            <br/><br/>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  <!-- 3 -->
  <div class="col-sm-3">
      <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <img src="../assets/images/fen.jpg" alt="Image" width="180" height="140" align="right" style="margin-left:10px;"> 
    <br/>

    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p style="text-align: justify;">Lorem ipsum dolLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci <br/><br/>
        <img src="../assets/pics/soutien.jpg" alt="Image" width="280" height="200">
            <br/><br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>            
</div>
</div>
</div>

<div class="container">    
<div class="row">
<!-- 1er Div -->
  <div class="col-sm-4">
   
      <div class="panel-body"><img src="../assets/images/li.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
      <div class="panel-footer"> <p style="text-align: center;">Linge et Repassage</p></div>
  
  </div>
  <div class="col-sm-4"> 
   
      <div class="panel-body"><img src="../assets/images/fem.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
      <div class="panel-footer"><p style="text-align: center;">Cuisine et Vaisselle</p></div>
  </div>
  <div class="col-sm-4"> 
   
      <div class="panel-body"><img src="../assets/images/li2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
      <div class="panel-footer"><p style="text-align: center;">Ménage et Propreté</p></div>
  </div>
</div>
</div>
<app-footer></app-footer>
