<form [formGroup]="demandeForm" (ngSubmit)="validerDemande()">
<!--Formulaire Pour Donner le Salaire Propose et les Services
	 ++++++++++++++++DEBUT++++++++++++++++++++++++++++++-->
		<div class="row" style="background-color:rgb(211, 209, 210);">
		  <div class="col-sm-8" style="background-color:rgb(211, 209, 210);">
			<div class="col-md-8 bg-dark" id="formulaireDemande">
				<div class="row">
				   <div class="col-sm-8 form-group"><br>
					 <input class="form-control" id="" name="" placeholder="Salaire Proposé en FCFA" type="text" formControlName="salairePropose" >
				   </div>
				   <div class="col-sm-12 form-group"><br>
					  <textarea class="form-control" id="" name="" placeholder="Commentaire sur le(s) Service(s) demande(s)" formControlName="services" rows="4"></textarea>
				  </div> 
				</div> 
		    </div>
		  </div>
		  <div class="col-sm-4" style="background-color:rgb(211, 209, 210);">
			<div class="checkbox" >
				<label class="labCompetence" *ngFor="let competence of listeCompetences; let i=index;"><input class="competenceCheckBox" type="checkbox" value="" (change)="getselectedCompetencevalues(competence)">{{competence.description}}</label><br/><br/>
			</div>
			<small id="erer" style="color: brown" *ngIf="favCompetenceErreur" class="form-text custom invalid-feedback">Veillez  cochez au moins une Competence</small>
		  </div>
		</div>
<!--+++++++++++++++FIN+++++++++++++++++++++++++++++++++
   Formulaire Pour Donner le Salaire Propose et les Services-->

<!-- LIste Des employes a associer a la Demande 
    +++++++++++++++++++++DEBUT++++++++++++++++++-->
<div class="container" id="listeEmployes">
  <div class="row">
	<section class="content ">
	  <div class="table-container panel-body panel panel-default col-md-8">
		<table class="table table-filter">
		  <tbody>
			<tr data-status="pagado" *ngFor="let employe of listeEmployes ;let position=index;" id="{{position}}">
			  <td>
				<div class="ckbox">
					<input type="checkbox" id="inlineCkeckbox{{position}}" (change)="getselectedEmployesvalues(employe,position)">
						<label for="inlineCkeckbox{{position}}"></label>
				</div>
			  </td>
			  <td>
				<a href="javascript:;" class="star">
				  <i class="glyphicon glyphicon-star"></i>
				</a>
			  </td>
			  <td>
                <div class="media">
				  <a href="#" class="pull-left">
					 <img src={{getPhotoEmploye(employe.photo)}} class="media-photo">
				  </a>
				  <div class="media-body">
						<div class="title">
							<h4>{{employe.prenom}}  {{employe.nom}}</h4>
							<div class="row">
								<div class="col-sm-6" >
									<h5 class="col-sm-8" *ngIf="employe.observation">Information :</h5>
									<p class="summary col-sm-8"><textarea *ngIf="employe.observation" id="observation" rows="6" disabled>{{employe.observation}}</textarea></p>
								</div>
								<div class="col-sm-6">
									<span class="pull-right pagado col-sm-12">Adresse :{{employe.adresse}}</span>
									<span class="pull-right pagado col-sm-12">Situation Matrimoniale :{{employe.situationMatrimoniale}}</span>
									<span class="pull-right pagado col-sm-12">Date de Naissance :{{employe.dateNaissance}}</span>
									<span class="pull-right pagado col-sm-12">Religion :{{employe.religion}}</span>
								</div>
							</div>
						</div>
						<div class="container-fluid detail" *ngIf="tableauVisibiliteDetail[position]">
							<div class="row">
								<div class="col-sm-6">
									<p *ngIf="employe.pay.nom">Nationnalite :{{employe.pay.nom}}</p>
								</div>
								<div class="col-sm-6">
									<p >Langues parlées :</p>
									<ul>
										 <li *ngFor="let langue of employe.langues">{{langue.nom}}</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<p *ngIf="employe.ethny.nom">Ethnie :{{employe.ethny.nom}}</p>
								</div>
								<div class="col-sm-6">
									<p>Competences :</p>
									<ul>
										 <li *ngFor="let competence of employe.competences">{{competence.description}}</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<p *ngIf="employe.niveauetude.niveau">Niveau d'Etude :{{employe.niveauetude.niveau}}</p>
									<p *ngIf="employe.localite">Ethnie :{{employe.localite.nom}}</p>
								</div>
								<div class="col-sm-6">
									<p>Disponibilite :</p>
									<ul>
										<li *ngFor="let disponibilite of employe.disponibilites"> {{disponibilite.moment}}  {{disponibilite.horaire}}</li>
									</ul>
								</div>
							</div>
						</div>
				  </div>
        </div>
			 </td>
			 <td>
				 <button (click)="details(position)"  *ngIf="!tableauVisibiliteDetail[position]">Détails </button>
				 <button (click)="reduire(position)"  *ngIf="tableauVisibiliteDetail[position]">Réduire</button>
			 </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</section>
	<div class="col-md-12">
		<div class="col-md-8">
			<div class="col-md-6" >
				<button *ngIf="vprecedent" class="direction"style="font-weight: bold" (click)="precedent()"><span class="glyphicon glyphicon-menu-left"></span>Précédent</button>
			</div>
			<div class="col-md-6" >
					<button *ngIf="vsuivant" class="direction" style="font-weight: bold"  (click)="suivant()">Suivant<span class="glyphicon glyphicon-menu-right"></span></button>
			</div>
		</div >
		<div class="col-md-4">
		</div> 
	</div>
 </div>
</div>
<button  class="btn btn-primary" type="submit" (click)="validerDemande()" >Valider<span class=" glyphicon glyphicon-ok"></span></button>
</form>
<!--++++++++++++++++++++FIN++++++++++++++++++++++++++
 LIste Des employes a associer a la Demande -->