<app-script></app-script>
<body>
 
  <app-navbar></app-navbar>

    
    <header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="my-heading">Bienvenue sur <span class="bg-main">votre Espace Managere</span></h3>
                    <H4 class="myp-slider text-center">Faites confiance à l’une de nos équipes dynamiques, professionnelles et pleines d’énergie!
                    </H4>
                    <p class="myp text-center">Services Entreprise    |   Service Domicile    |   Service Organisation </p>
                    <a class="btn btn-primary btn-join" href="#">Joingnez notre communauté</a>

                </div>
                <div class="col-md-12 text-center mt-5">
                    <div class="scroll-down">
                        <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- espace Section1 -->    

        <!-- espace Section2 -->    

    


        <!-- espace Section3 -->    

            <!-- espace Section4 -->  
            <div class="col-md-12 text-center">
                <app-section-acceuil></app-section-acceuil>

            <br/><br/>
            </div><br/><br/>


   
   <app-footer></app-footer>
   
    
    <!-- script -->
    <script>
        new WOW().init();
        </script>
<script>
  $(window).scroll( function(){


    var topWindow = $(window).scrollTop();
    var topWindow = topWindow * 1.5;
    var windowHeight = $(window).height();
    var position = topWindow / windowHeight;
    position = 1 - position;
  
    $('#bottom').css('opacity', position);
  
  });

  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.display = "0";
      document.body.style.backgroundColor = "white";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginRight= "0";
      document.body.style.backgroundColor = "white";
  }


$(window).on("scroll", function() {
      if ($(this).scrollTop() > 10) {
          $("nav.navbar").addClass("mybg-dark");
          $("nav.navbar").addClass("navbar-shrink");
        

      } else {
          $("nav.navbar").removeClass("mybg-dark");
          $("nav.navbar").removeClass("navbar-shrink");
         
      }
      


  });
  
  $(function() {
$('#bottom').click(function() {
if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
var target = $(this.hash);
target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
if (target.length) {
  $('html,body').animate({
    scrollTop: target.offset().top
  }, 500);
  return false;
}
}
});
});


</script>
<script>
$(document).ready(function(){
$(".fancybox").fancybox({
      openEffect: "none",
      closeEffect: "none"
  });
});
</script>

    </body>