.big-img  {
    height: 380px;
    width:150%;
    object-fit: cover;
    margin-top: 90px;
}
span.bg-main {
    color: #008ba3;
}




////////contact

  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: rgb(147, 240, 170);
    color: #000;
  }
 
  .contact
  {
      margin-left: 100px;
  }