.big-img {
    height: 100%;
    width:100%;
    margin-left: 1px;
    margin-top: 100px;
}

span.bg-main {
    color: blue;
    text-align-last: left;
    margin-top: 85px;
     
}

form {
    margin-left: 200px;  
    align-content: right;
    color:#000000; 
}

.text {
    color: #000000; 
    text-align-last: left;
    margin-left: 50px;
    margin-top: 100px;  
}

.contact {
    margin-top: -200px;  
}


.bouton {
    margin-top: -130px;  
}


