<section class="testimonials text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto wow fadeInUp">
                <h3 class="text-center font-weight-bold">JOIN MOJO<span class="bg-main">AVE</span> GROUPS</h3>
                <p class=" text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/258732/pexels-photo-258732.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                    <div class="card-block">

                        <h4 class="card-title text-center">CATHERINA GAIL</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/210922/pexels-photo-210922.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                    <div class="card-block">

                        <h4 class="card-title text-center">HARVEY RUBE</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/756242/pexels-photo-756242.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                    <div class="card-block">

                        <h4 class="card-title text-center">JANET PRIS</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/167445/pexels-photo-167445.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
                    <div class="card-block">

                        <h4 class="card-title text-center">KEVIN WARD</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>