<section class="testimonials text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto wow fadeInUp">
                <h3 class="text-center font-weight-bold">Entretient <span class="bg-main">ménager</span> de votre maison</h3>
                <p class=" text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="../assets/SET/G1.jpg">
                    <div class="card-block">

                        <h4 class="card-title text-center">GARDE ENFANTS</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="../assets/SET/M3.jpg">
                    <div class="card-block">

                        <h4 class="card-title text-center">MENAGE</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="../assets/SET/C1.jpg" height="170px;">
                    <div class="card-block">

                        <h4 class="card-title text-center">CUISINE</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top" src="../assets/SET/L1.jpg"  height="170px;" >
                    <div class="card-block">

                        <h4 class="card-title text-center">LINGE</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting</small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>