

header.masthead {
    position: relative;
    height: 50vh;
    margin-top: -300px;
    z-index: 1;
   // background-color:white;
  //  background: url('/../assets/SET1/pp.jpg') no-repeat center center;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

//header.masthead .overlay{position:absolute;height:100%;width:100%;top:0;left:0;opacity:.3}

span.bg-main {
    color: #008ba3;
}
