
<div class="col-md-2">
  <form (ngSubmit)="rechercher()">
  <div class="input-group">
    <input type="text"  placeholder="Search  for..." class="form-control" id="disponibilite" required [(ngModel)]="disponibilite" name="disponibilite">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div><!-- /input-group -->
  </form>
</div><!-- /.col-lg-6 -->
<br/> <br/>  <br/> <br/>
<br/> <br/>
<div class="well col-sm-8 text-left"> 
        <div class="container">
                          <div class="messaging">
                              <div class="inbox_msg">
                                  <div class="inbox_chat">
                                        <div class="chat_ " *ngFor="let employee of rechercherDisponibilite">
                                                <div class="chat_people">
                                                  <div class="chat_img"> <img  src={{uploadPhotoEmployer(employee.photo)}} alt="sunil"></div>
                                                  <div class="chat_ib">
                                                    <h5>{{employee.prenom}} {{employee.nom}}               <span class="date"> {{employee.dateNaissance}} </span></h5>
                                                    <p>{{employee.adresse}}, {{employee.religion}} {{employee.telephoneMobile}}  
                                                    {{employee.email}} {{employee.situationMatrimoniale}}.</p>
                                                    <ul id="date" class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a (click)='deleteEmploye(employee)' target="_blank">
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                    <a (click)='editeEmploye(employee)' target="_blank">
                                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                                </a>
                                                            </li>
                                                
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                 </div>
            </div>
     </div>
</div>     