<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="footer-bottom-area bg-dark-light section-padding-sm">
                <div class="container">
                    <div class="row widgets footer-widgets">

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-about">
                                <h5 class="widget-title">About Us</h5>
                                <img src="images/others/about-widget-image.jpg" alt="about widget image">
                                <p>We are a team of designers and developers that create high quality <a href="www.dkstudio.in">Readmore...</a></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">My Account</h5>
                                <ul>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Your Account</a></li>
                                    <li><a href="#">Advanced Search</a></li>
                                    <li><a [routerLink]="['/contacter']" routerLinkActive="router-link-active" >Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">Customer Service</h5>
                                <ul>
                                    <li><a href="#">Shipping Policy</a></li>
                                    <li><a href="#">Compensation First</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Return Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-contact">
                                <h5 class="widget-title">Contact Us</h5>

                                <ul>
                                    <li class="address">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        <p>Address : No 100 Baria Sreet 100/2  Jaipur City, IN.</p>
                                    </li>
                                    <li class="phone">
                                        <span class="glyphicon glyphicon-phone "></span>
                                        <p><a href="#">+221 77 334 42 54</a></p>
                                    </li>
                                    <li class="fax">
                                        <span class="glyphicon glyphicon-phone "></span>

                                        <p><a href="#">+221 77 334 42 54</a></p>
                                    </li>
                                    <li class="email">
                                        <span class="glyphicon glyphicon-envelope "></span>
                                        <p><a href="#">senmenagere@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>