
<footer class="container-fluid text-center">
        <p>Footer Text</p>
        <aside class="col-sm-4">
                  <p>Our map</p>
                  
                  <div class="card">
                  <article class="card-body">
                  <iframe src="https://www.google.com/maps/@14.6841994,-17.4649649,16z?hl=fr-FR" width="320" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </article>
                  </div> <!-- card.// -->
                  
                        </aside> <!-- col.// -->
      </footer>
      