<body class="row">
  <div class="col-md-12 col-sm-12">
      <div class="panel panel-primary col-md-5 col-sm-5 contenue" style="margin-right: 10px;">
          <div class="well col-md-10">
            <span class="glyphicon glyphicon-folder-open"> Demandes</span>
            <p><span>{{countDemande}}</span></p>
          </div>
      </div>
      <div class="panel panel-primary col-md-5 col-sm-5 contenue">
        <div class="well col-md-10">
            <span class="glyphicon glyphicon-file"> Contrats</span>
            <p><span>{{countContrat}}</span></p>
        </div>
      </div>
  </div>
  <div class="col-md-12 col-sm-12">
     <div class="panel panel-primary col-md-5 col-sm-5 contenue" style="margin-right: 10px;">
        <div class="well col-md-10">
          <span class="glyphicon glyphicon-user"> Employes Libres</span>
          <p><span>{{countEmployeLibre}}</span></p>
        </div>
     </div>
     <div class="panel panel-primary col-md-5 col-sm-5 panel contenue">
        <div class="well col-md-10">
          <span class="glyphicon glyphicon-user"> Nouveaux Recrues</span>
          <p><span>{{countNouveau}}</span></p>
        </div> 
     </div>
  </div>
</body>
